# Python
**/__pycache__/**
*.pyc
*.pyo
*.pyd
*.swp
*.swo

# Virtual environment
venv/
ENV/
env/

# Django
*.log
*.pot
*.pyc
db.sqlite3
/staticfiles/

# Environment variables
.env

# Docker
*.dockerignore
docker-compose.override.yml
docker-compose.override.yaml

# VSCode
.vscode/

# OS 系ファイル
.DS_Store
Thumbs.db
